<div class="auth-container" [class.loading]="loading">
  <form (submit)="login($event)" autocomplete="on">
    <h2 tabindex="0">Login</h2>

    <mat-form-field appearance="fill" class="auth-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" type="email" autocomplete="email" />
      <div class="message error" *ngIf="fieldErrors['Email']?.length">{{ fieldErrors['Email'][0] }}</div>
    </mat-form-field>

    <mat-form-field appearance="fill" class="auth-field password-field">
      <mat-label>Password</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password"
        autocomplete="current-password" />
      <mat-icon class="password-toggle-icon" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
      <div class="message error" *ngIf="fieldErrors['Password']?.length">{{ fieldErrors['Password'][0] }}</div>
    </mat-form-field>
    
    <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe">Remember me</mat-checkbox>

    <div class="message error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
      {{ loading ? '' : 'Login' }}
    </button>
  </form>
</div>